*{
  margin: 0;
  padding: 20px 15px;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}
header{
  background-color: #c8e6c9;
}
body{
  background-color: #e8f5e9;
  font-family: sans-serif;
}
footer{
  background-color: #a5d6a7;
}
nav{
  font-family: serif;
  color: blue;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li{
  display: inline;
  width: 60px;
}
a{
  text-decoration: none;
}
#titles{
  font-size: 15pt;
  font-style: normal;
  font-weight: bold;
  font-family: serif;
  font: black;
}
#htitle{
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;
  font-family: serif;
  color: #004d40;
}
#hsubtitle{
  font-size: 18pt;
  font-style: italic;
  font-weight: bold;
  font-family: sans-serif;
  text-shadow: 2px 2px 1px silver;
  color: #1b5e20;
}
#content_1{
  font-size: 13pt;
  font-style: xx-small;
  font-family: sans-serif;
  font: black;
  color: #263238;
}
#content_2{
  font-size: 13pt;
  font-style: normal;
  font-family: serif;
}
